  .index {
    background-image: linear-gradient(-90deg, #FF00A1, #F6FF00);
    height: 100％;
    overflow: scroll;
    &__search {
      display: flex;
      justify-content: center;
      height: 5px;
      &__form {
        width: 300px;
        margin-top: 15px;
        &__select {
          font-size: 15px ;
          height: 5vh;
        }
        &__btn {
          background-color: skyblue;
          color: white;
          font-size: 15px;
          padding: 5px;
          border: solid 1px black;
        }
      }
    }
    &__info {
      text-decoration: none;
      &__for {
        margin:60px 10px 0px 10px;
        display: flex;
        justify-content: space-between;
        height: 100px;
        background-color: white;
        &__img{
          padding-left: 0px;
        }
        &__list {
          width: 20vw;
          display: inline-block;
          text-decoration: none;
          &__name {
            padding-bottom: 2px;
            size: 15px;
            text-align: center;
            color: #000;
            margin-top: 5px;
          }
          &__year {
            size: 15px;
            text-align: center;
            color: #000;
            margin-top: 5px;
          }
          &__prefecture {
            size: 10px;
            text-align: center;
            color: #000;
            margin-top: 5px;
          }
        }
        &__topics{
          width: 20vw;
          color: #000;
          &__1 {
            size: 10px;
            text-align: center;
            top: 2px;
            margin-top: 5px;
          }
          &__2 {
            size: 10px;
            text-align: center;
            top: 2px;
            margin-top: 5px;
          }
          &__3 {
            size: 10px;
            text-align: center;
            top: 2px;
            margin-top: 5px;
          }
        }
        &__introduction {
          width: 25vw;
          color: #000;
          &__text {
            size: 10px;
          }
        }
      }
    }
  }