<div class="top">
  <div class="top__header">
    <p class="top__header__name">Japanish</p>
    <p class="top__header__explain">-For making use of language-</p>
  </div>
  
  <div class="top__language">
    <li><%= link_to "Japanese", new_japanese_user_registration_path, method: :get, class:"top__language__j"%></li>
    <li><%= link_to "English", new_english_user_registration_path, method: :get, class:"top__language__e"%></li>
  </div>

  <div class="top__choice">
    <p class="top__choice__content">Please tap your language<p>
  </div>
</div>
