<div class="header">
  <div class="header__people">
    <li><%= link_to "People", "#", method: :get, class:"header__people__btn"%></li>
  </div>
  <div class="header__chat">
    <li><%= link_to "Chat", "#", method: :get, class:"header__chat__btn"%></li>
  </div>
  <div class="header__mypage">
    <li><%= link_to "MyPage", "#", method: :get, class:"header__mypage__btn"%></li>
  </div>
</div>