.my {
  margin-left: 35px;
  margin-right: 35px;
  height: 90%;
  background-color: skyblue;
  &__btn {
    display: flex;
    justify-content: start;
    &__icon {
      color: black;
      font-size: 30px;
    }
    &__out {
      color: black;
      font-size: 30px;
      text-decoration: none;
      padding: 5px;
      margin: 10px;
      background-color: white;
      border: solid 1px black;
      color: skyblue;
    }
    &__login {
      color: black;
      font-size: 30px;
      text-decoration: none;
      padding: 5px;
      margin: 10px;
      background-color: white;
      border: solid 1px black;
      color: skyblue;
    }
    &__sign-up {
      color: black;
      font-size: 30px;
      text-decoration: none;
      padding: 5px;
      margin: 10px;
      background-color: white;
      border: solid 1px black;
      color: skyblue;
    }
  }
  &__profile {
    display: block;
    &__index {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      &__my_profile {
        font-size: 50px;
      }
    }
    &__box {
      display: flex;
      justify-content: center;
      &__img {
        border: 1px black;
      }
    }
    &__nickname {
      display: flex;
      justify-content: space-around;
      margin-top: 25px;
      &__label {
        font-size: 30px;
        color: yellow;
      }
      &__data {
        font-size: 30px;
        color: navy;
      }
    }
    &__sex {
      display: flex;
      justify-content: space-around;
      margin-top: 25px;
      &__label {
        font-size: 30px;
        color: yellow;
      }
      &__data {
      font-size: 30px;
      color: navy;
      }
    }
    &__how_old {
      display: flex;
      justify-content: space-around;
      margin-top: 25px;
      &__label {
        font-size: 30px;
        color: yellow;
      }
      &__data {
      font-size: 30px;
      color: navy;
      }
    }
    &__prefecture {
      display: flex;
      justify-content: space-around;
      margin-top: 25px;
      &__label {
        font-size: 30px;
        color: yellow;
      }
      &__data {
      font-size: 30px;
      color: navy;
      }
    }
    &__topic {
      margin-top: 25px;
      display: flex;
      justify-content: space-around;
      &__label {
        font-size: 30px;
      }
      &__data {
        &__1 {
          font-size: 30px;
          color: navy;
        }
      }
      &__label {
        font-size: 30px;
      }
    }
    &__topic {
      margin-top: 25px;
      display: flex;
      justify-content: space-around;
      &__label {
        font-size: 30px;
        color: yellow;
      }
      &__data {
        &__2 {
          font-size: 30px;
          color: navy;
        }
      }
      &__label {
        font-size: 30px;
        color: yellow;
      }
    }
    &__topic {
      margin-top: 25px;
      display: flex;
      justify-content: space-around;
      j
      &__label {
        font-size: 30px;
        color: yellow;
      }
      &__data {
        &__3 {
          font-size: 30px;
          color: navy;
        }
      }
      &__label {
        font-size: 30px;
      }
    }
    &__introduction {
      margin-top: 25px;
      display: flex;
      justify-content: space-around;
      &__label {
        font-size: 30px;
        color: yellow;
      }
      &__data {
      font-size: 30px;
      color: navy;
      }
    }
  }
}